body {
  
  font-family: "Funnel Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", serif;
  
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
  line-height: 1.4;
}